<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MxmlcGroup">
<stringAttribute key="ADL_ARGUMENTS" value=""/>
<stringAttribute key="ADL_DESCRIPTOR_FILE" value=""/>
<intAttribute key="AIR_VIEWER_CONF" value="0"/>
<stringAttribute key="APP_ARGUMENTS" value=""/>
<stringAttribute key="ARGUMENTS" value="-static-link-runtime-shared-libraries=true&#10;-target-player={playerVersion}&#10;-library-path+=&quot;{flexSDK}/frameworks/locale/en_US&quot;&#10;-strict=true&#10;-optimize=true&#10;-debug=true"/>
<stringAttribute key="EXCLUDED_PACKAGES_LIST" value=""/>
<booleanAttribute key="FILTER_INTERNAL_PACKAGES" value="true"/>
<stringAttribute key="INCLUDED_PACKAGES_LIST" value=""/>
<booleanAttribute key="KILL_PREVIOUS_VIEWER" value="true"/>
<stringAttribute key="MAIN_CLASS" value="examples/src/FaceComRecognitionDemo.as"/>
<booleanAttribute key="MEMORY_PROFILING" value="true"/>
<booleanAttribute key="MEMORY_PROFILING_STACKDATA" value="true"/>
<stringAttribute key="MOBILE_PRESET" value=""/>
<stringAttribute key="OUTPUT" value="examples/bin/face.com_recognition_demo.swf"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_EXTERNS" value="false"/>
<booleanAttribute key="PASS_MAIN_CLASS" value="true"/>
<booleanAttribute key="PASS_RSLS" value="false"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<booleanAttribute key="PERFORMANCE_PROFILING" value="false"/>
<booleanAttribute key="PERFORMANCE_PROFILING_CLEAR_DATA" value="false"/>
<intAttribute key="PERFORMANCE_PROFILING_CLEAR_DATA_TIME" value="3"/>
<intAttribute key="PLAYER_HEIGHT" value="400"/>
<intAttribute key="PLAYER_WIDTH" value="550"/>
<stringAttribute key="POST_COMPILE_ANT" value=""/>
<stringAttribute key="PRE_COMPILE_ANT" value=""/>
<booleanAttribute key="PROFILER_FILTER_INTERNAL_ACTIONS" value="false"/>
<booleanAttribute key="PROFILER_FILTER_NATIVES" value="false"/>
<stringAttribute key="PROJECT_NAME" value="HiSlopeFOTB"/>
<stringAttribute key="PUBLISHER_ID" value=""/>
<booleanAttribute key="START_SWF_ENABLED" value="true"/>
<stringAttribute key="START_SWF_LOCATION" value="examples/bin/face.com_recognition_demo.swf"/>
<stringAttribute key="START_SWF_WITH" value="Browser"/>
<booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HiSlopeFOTB"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
